:root {
    --cor-primaria: #2C7A7B; 
    --cor-secundaria: #E6FFFA; 
    --cor-destaque: #319795; 
    --cor-texto: #2D3748; 
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    line-height: 1.6;
}

header {
    background-color: var(--cor-primaria);
    color: var(--branco);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 55px; 
    width: auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

header a:hover {
    text-decoration: underline;
}